*.csv filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
https://raw.githubusercontent.com/GTD2101-ACD-GB-EJ25/03-pandas/refs/heads/main/data/winemag-data-130k-v2.csv.csv filter=lfs diff=lfs merge=lfs -text
